@import '../theme/variable';

.vote-detail-place-list-container {
  margin-top: 4.4rem;
  padding-top: 1.2rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: #f6f6f6;
  height: 100%;

  &__handle {
    width: 3.6rem;
    height: 0.4rem;
    opacity: 0.4;
    border-radius: 0.3rem;
    background-color: $gray;
    margin: 0 auto;
    margin-bottom: 1.2rem;
  }
}
