@import '../theme/variable';

.vote-detail-place-list-container {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: #f6f6f6;
  min-height: 100%;
  height: auto;
  padding-top: 1.2rem;
  padding-bottom: 1rem;

  &__handle {
    width: 3.6rem;
    height: 0.4rem;
    opacity: 0.4;
    border-radius: 0.3rem;
    background-color: $gray;
    margin: 0 auto;
    margin-bottom: 1.2rem;
  }
}

@keyframes moveUp {
  from {
    margin-top: 100rem;
  }
  to {
    margin-top: 4.4rem;
  }
}

.move-up {
  animation-name: moveUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.12, 0.63, 0.68, 1.13);
}
