@import '../theme/variable';

.back-btn {
  position: absolute;
  z-index: 1;
  padding-top: $padding-container;
  padding-left: $padding-container;
}

.map-container {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px $border solid;
}

.reload-btn-container {
  padding: 1.1rem;
  bottom: 7.8rem;
  right: 1.4rem;

  .reload-btn {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.address-container {
  width: 93%;
  height: 5.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1.7rem 1rem 1.7rem 1rem;
  bottom: 1rem;
}

.filter-btn {
  border: 1px $border solid;
  border-radius: 1.5rem;
  @extend %px-container;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.cart-list-btn {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  bottom: 10rem;
  right: $padding-container;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px $border;
  background-color: $white;
}

.cart-list-modal {
  --width: auto;
  --min-width: 29rem;

  &__header {
    height: 6.6rem;
  }

  &__confirm-btn {
    border-top: 1px $border solid;
    height: 4.6rem;
  }

  .thumb-container {
    @extend %bg-image;
    width: 4.5rem;
    height: 4.5rem;
  }
}
