.background-img {
  background-image: url('/assets/img/main_bg.svg');
  background-size: cover;
  width: 100%;
  padding-top: 1.4rem;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
}

.pageHeadPhrase {
  font-weight: bold;
  line-height: 1.24;
  letter-spacing: -0.58px;
  text-align: left;
  color: #111111;
  padding-left: 1rem;
  padding-top: 3.5rem;
  margin-right: 0rem;
}
.bottom-floating {
  position: fixed;
  left: 0;
  bottom: 2rem;
  display: inline;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.vote_choose {
  margin-top: 2rem;
  display: flex;
  text-align: center;
  .vote_btns {
    border: 1px solid #dfe2e6;
    margin: 0 auto;
    .vote_new {
      width: 16.4rem;
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1.43;
      letter-spacing: -0.28px;
      display: inline-block;
      padding: 0.9rem 0rem 1.1rem;
      color: white;
      background-color: #5f5cce;
    }
    .vote_old {
      width: 16.4rem;
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1.43;
      letter-spacing: -0.28px;
      display: inline-block;
      padding: 0.9rem 0rem 1.1rem;
      color: black;
      background-color: white;
    }
  }
}
.welcome_tooltip {
  position: fixed;
  bottom: 8.6rem;
  width: 30rem;
  height: 14rem;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
}
.btn_add {
  width: 5.6rem;
  height: 5.6rem;
}
.toggleIcon {
  width: 1.6rem;
  height: 1.5rem;
  margin-left: auto;
  margin-top: 4.5rem;
}
.toggleName {
  margin-left: 0.25rem;
  padding-right: 1rem;
  padding-top: 4.1rem;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: left;
  color: #333333;
}
