.thumbnail {
  .btn_close {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1.6rem;
  }
  .rounded {
    background-color: white;
    height: 2rem;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    text-align: center;
    .greyed {
      height: 0.4rem;
      width: 3.6rem;
      background-color: #c2c7cc;
      border-radius: 0.3rem;
      display: inline-block;
    }
  }
}
.restaurantInfo {
  .title {
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.72px;
    color: #111111;
  }
  .ratingCenter {
    margin: 0 auto;
  }
  .address {
    line-height: 1.57;
    letter-spacing: -0.28px;

    .addressInBlack {
      font-size: 1.4rem;
      color: #555555;
    }
    .addressInPurple {
      font-size: 1.4rem;
      color: #5f5cce;
    }
  }
  .operatingTime {
    line-height: 1.57;
    letter-spacing: -0.28px;

    .timeInPurple {
      font-size: 1.4rem;
      color: #5f5cce;
    }
    .timeInBlack {
      font-size: 1.4rem;
      color: #555555;
    }
  }
  .phoneNumber {
    line-height: 1.57;
    letter-spacing: -0.28px;
    .numberInBlack {
      font-size: 1.4rem;
      color: #555555;
    }
  }
}

.line {
  height: 1px;
  background: #eeeeee;
}
.map {
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: -0.28px;
  text-align: left;
  color: #111111;
}
.googleMap {
  height: 20rem;
}

.photo {
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: -0.28px;
  text-align: left;
  color: #111111;
}

.react-swipe-container {
  height: 10rem;
}

.foodPhotoBox {
  width: 100%;
  display: block !important;
  .foodPhoto {
    width: 10rem !important;
    height: 10rem !important;
    border-radius: 1rem;
  }
}
