@font-face {
  font-family: NotoSansCJKkr-Medium;
  src: local(NotoSansCJKkr-Medium), url(../font/NotoSansCJKkr-Medium.otf) format('OpenType');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: NotoSansCJKkr-Regular;
  src: local(NotoSansCJKkr-Regular), url(../font/NotoSansCJKkr-Regular.otf) format('OpenType');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Roboto-Regular;
  src: local(Roboto-Regular), url(../font/Roboto-Regular.ttf) format('TrueType');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.thumbnail {
  height: 13.75rem;
  background-color: #5f5cce;
}
.restaurantInfo {
  .title {
    font-family: NotoSansCJKkr-Medium;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.72px;
    color: #111111;
  }
  .ratingCenter {
    margin: 0 auto;
  }
  .address {
    font-family: NotoSansCJKkr-Regular;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: -0.28px;

    .addressInBlack {
      font-size: 1.4rem;
      color: #555555;
    }
    .addressInPurple {
      font-size: 1.4rem;
      color: #5f5cce;
    }
  }
  .operatingTime {
    font-family: NotoSansCJKkr-Regular;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: -0.28px;

    .timeInPurple {
      font-size: 1.4rem;
      color: #5f5cce;
    }
    .timeInBlack {
      font-size: 1.4rem;
      color: #555555;
    }
  }
  .phoneNumber {
    font-family: NotoSansCJKkr-Regular;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: -0.28px;
    .numberInBlack {
      font-size: 1.4rem;
      color: #555555;
    }
  }
}

.line {
  height: 1px;
  background: #eeeeee;
}
.map {
  font-family: NotoSansCJKkr-Medium;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.28px;
  text-align: left;
  color: #111111;
}
.googleMap {
  height: 20rem;
}

.photo {
  font-family: NotoSansCJKkr-Medium;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.28px;
  text-align: left;
  color: #111111;
}

.foodPhotoBox {
  width: 100%;

  .foodPhoto {
    width: 10rem !important;
    height: 10rem !important;
    border-radius: 1rem;
  }
}
