.dummy {
  flex-basis: 10%;
}
.HeaderTitle {
  flex-basis: 100%;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.34px;
  color: #111111;
  padding-top: 1.2rem;
}
.HeaderIcon {
  flex-basis: 10%;
  padding-top: 1rem;
  width: 3rem;
  height: 3rem;
}
.bodyImg {
  margin-top: 1.5rem;
  width: 12.5rem;
  height: 12rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.x-container {
  margin-top: 13.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.spaceMaker {
  margin-top: 5.8rem;
}

.iconUi {
  img {
    width: 2rem;
    height: 1.8rem;
  }
}
.checkIconUi {
  img {
    width: 2rem;
    height: 1.2rem;
  }
}
.arrowIcon {
  img {
    width: 1.6rem;
    height: 1.8rem;
  }
}
.multiStr1 {
  font-weight: 500;
  line-height: 2.25;
  letter-spacing: -0.32px;
  text-align: left;
  color: #111111;
}
.multiStr2 {
  line-height: 2.57;
  letter-spacing: -0.28px;
  text-align: right;
  color: #c2c7cc;
}

.deadlineStr {
  font-weight: 500;
  line-height: 2.25;
  letter-spacing: -0.32px;
  text-align: left;
  color: #111111;
}

.errString {
  margin: auto 0;
}
