ion-toolbar {
  --opacity: 0;
}

ion-content.theme-0 {
  --background: #d14c7c;
}
ion-content.theme-1 {
  --background: #9aa5b2;
}
ion-content.theme-2 {
  --background: #468ba5;
}

.header-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
