.itemBox {
  width: auto;
  height: 8.4rem;
  border-radius: 0.75rem;
  box-shadow: 0 8px 0.75rem 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5rem;
  background-color: #ffffff;
  .voteBox {
    margin-top: 1.5rem;
    margin-left: 2rem;
    width: 3.4rem;
    height: 5.4rem;
  }
  .itemContent {
    margin: auto 0;

    .voteTitle {
      line-height: 1.27;
      letter-spacing: -0.3px;
      color: #111111;
    }
    .voteOn {
      line-height: 1.46;
      letter-spacing: -0.26px;
      color: #ffba00;
    }
    .voteOff {
      line-height: 1.46;
      letter-spacing: -0.26px;
      color: #c2c7cc;
    }
  }
  .cplBtn {
    width: 6rem;
    height: 5.4rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: 1.5rem;
  }
}
