@font-face {
  font-family: NotoSansCJKkr-Regular;
  src: local(NotoSansCJKkr-Regular), url(../font/NotoSansCJKkr-Regular.otf) format('OpenType');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.itemBox {
  position: relative;
  width: 328px;
  height: 84px;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;

  .voteBox {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .cplBtn {
    position: absolute;
    right: 15px;
    top: 15px;
    bottom: 15px;
  }
  .itemContent {
    position: absolute;
    top: 20px;
    bottom: 23px;
    left: 66px;
    display: flex;
    flex-direction: column;

    .voteTitle {
      width: 175px;
      height: 22px;
      font-family: NotoSansCJKkr-Regular;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.27;
      letter-spacing: -0.3px;
      text-align: left;
      color: #111111;
    }
    .voteOn {
      width: 64px;
      height: 19px;
      font-family: NotoSansCJKkr-Regular;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.46;
      letter-spacing: -0.26px;
      text-align: left;
      color: #ffba00;
    }
    .voteOff {
      width: 64px;
      height: 19px;
      font-family: NotoSansCJKkr;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.46;
      letter-spacing: -0.26px;
      text-align: left;
      color: #c2c7cc;
    }
  }
}
